/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 13, 2017, 2:22:47 PM
    Author     : AppleGrocer
*/

#mainPane{
    -fx-background-image: url("../images/snowBG.jpeg");
    -fx-background-size: 100% 100%; 
}

#testCard{
    -fx-background-image: url("../images/CardBase.jpg");
    -fx-background-size: 100% 100%; 
}

.playerArea{
    -fx-background-color: red;
}

.marketDeck{
    -fx-background-color: green;
}

.contestedDeck{
    -fx-background-color: orange;
}

.textBox{
    -fx-background-color: grey;
}